.logo{
 width: 12%;
 height: 12%; 
 size: 20px;
 margin-left: 10px;

}
img{
  margin: 10px;
}
body{
background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

}
.navbar{
  width: 100%;
  align-content: top;
  left: 0;
  top: 0;
  position: absolute;
  display: flex;
  z-index: 1000;
}
h1{
  font-family: "Luckiest Guy", cursive;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-style: normal;
  font-size: 8.7rem;
  color: grey;
  padding-left: 15px;
}
h2{
  color: #ffffff;
  margin-right: 10px;
  margin: 0 10px;
}
h3{
  font-family: "Luckiest Guy", cursive;
  color: black;
  font-weight: 700;
  font-style: normal;
  font-size: 4.7rem;
}
h4{
  font-family: "Luckiest Guy", cursive;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  font-size: 4.7rem;
}
p{
  color: #ffffff;
}
.driver-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;  
  
  
}


#mclaren{
  display: flex;
  background-color: chocolate;
}
#ferrari{
  display: flex;
  background-color: #880808;
}
#mercedes{
  display: flex;
  background-color: #00A19C;
}
#redbull{
  display: flex;
  background-color: #1E5BC6;
}
#williams{
  display: flex;
  background-color: #37BEDD;
}
#aston{
  display: flex;
  background-color:  #358C75;
}
#bulls{
  display: flex;
  background-color: #5E8FAA;;
}
#kick{
  display: flex;
  background-color: #132525;
}
#haas{
  display: flex;
  background-color:  #B6BABD;
}
#alpine{
  display: flex;
  background-color: #2293D1;
}
#mclaren1{
  background-color: chocolate;
}
#ferrari1{
  display: flex;
  background-color: #880808;
}
#mercedes1{
  display: flex;
  background-color: #00A19C;
}
#redbull1{
  display: flex;
  background-color: #1E5BC6;
}
#williams1{
  display: flex;
  background-color: #37BEDD;
}
#aston1{
  display: flex;
  background-color:  #358C75;
}
#bulls1{
  display: flex;
  background-color: #5E8FAA;;
}
#kick1{
  display: flex;
  background-color: #132525;
}
#haas1{
  display: flex;
  background-color:  #B6BABD;
}
#alpine1{
  display: flex;
  background-color: #2293D1;
}
.driver-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.card{
  border-radius: 15px;
  margin: 15px;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  max-width: 1500px;
  object-fit: cover;
  aspect-ratio: 4/1;
  padding: 0 10px;
  overflow: hidden;
}

.team-section{
}
.team-info{
  
}
.team-card{
  width: auto;
  height: auto;
  max-width: 1000px;
  gap: 10px;
  border-radius: 15px;
  margin-left: 15px;
  padding: 0 8px;
  
}
.story{
  border-radius: 15px;
}